@import 'tailwindcss';
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}
@theme {
  --color-background: #f8efed;
  --color-background_dark: #120907;

  --color-primary: #6b271a;
  --color-primary_dark: #e5a294;

  --color-secondary: #ee8572;
  --color-secondary_dark: #8d2411;

  --color-accent: #f62804;
  --color-accent_dark: #fb2d09;

  --color-text: #130d0b;
  --color-text_dark: #f4eeec;
}
